<div class="container mx-auto py-8">

  <div
    class="flex scrollbar scrollbar-thumb-blue-700 scrollbar-track-blue-300 overflow-y-scroll scrollbar-thumb-rounded-full scrollbar-track-rounded-full pt-6">
    <ng-container *ngIf="newsList$ | async">
      <ng-container *ngFor="let newsItem of (newsList$ | async); index as i">
        <app-news-item #newsElem [attr.id]="i" [item]="newsItem"></app-news-item>
      </ng-container>
    </ng-container>
  </div>


  <div class="pt-6">
    <app-options></app-options>
  </div>

</div>
